/* Bootstrap Styling */

    #centerColumn {
        text-align: center;
    }

    #mainContainer {
        margin-top: 10em;
    }

/* Normal CSS Styling */
/* Left Pokemon Styling */
    #pokemonName1 {
        text-transform: uppercase;
    }

    #leftPokemonPic {
        height: 300px;
        width: 300px;
    }

    #pokemonLevel1 {

    }

/* Center Column Styling */

    #centerText {

    }

/* Right Pokemon Styling */
    #pokemonName2 {
        text-transform: uppercase;
    }

    #rightPokemonPic {
        height: 300px;
        width: 300px;
    }

    #pokemonLevel2 {

    }